.friday_blog {
    height: 60px;
    width: 100%;
    background: radial-gradient(white, yellow, black);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

header strong {
    color: darkred;
    font-size: xx-large;
}
/* header {
    top: 60px;
    height: 30px;
    width: 100%;
    background-color: red;
} */
.GoodFriday_img {
    float: left;
    width: 30%;
}

.GoodFriday_img img {
    width: 100%;
}


.VScode_img {
    float: left;
    width: 30%;
}
.VScode_img img {
    width: 100%;
}

.goodetailsp {
    width: 67%;
    /* display: flex; */
    text-align: justify;
    padding-left: 10px;
    padding: 10px;
    background: linear-gradient(green, red, yellow);
}

.goodetailsp h1 {
    align-items: center;
}

.vscodetailsp {
    width: 67%;
    /* display: flex; */
    float: left;
    text-align: justify;
    padding-left: 10px;
    margin-left: 10px;
    background: url(../img/MainAfter.webp) no-repeat, url(../img/goodfriday.webp) no-repeat;
    background-position: 0 0, 100% 0%;
    background-size: 50%, 50%;
}


/* .vscodetailsp::after {
    content: "";
    background: url(../img/MainAfter.webp) 0 0 no-repeat, url(../img/goodfriday.webp) 0 0 no-repeat;
    background-position: 0 0, 100% 0%;
    background-size: 50% 100%, 50% 100%;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 100;
} */
.goodetails {
    
    display: flex;
    /* margin: 5px;
    padding: 5px; */
    max-height: 300px;
    overflow: hidden;
    border: solid;
    border-color: blue;
    box-shadow: 1px 2px 3px black;
}

.vscodetails {
    /* margin: 10px;
    padding: 10px; */
    background: linear-gradient(green red yellow);
    display: flex;
    max-height: 300px;
    overflow: hidden;
    border: solid;
    border-color: blue;
    box-shadow: 1px 2px 3px red;
}

h1 {
    text-align: center;
    color: navy;
    font-style: italic;
    font-weight: 500;
}

nav {
    position: absolute;
    right: 0px;
}

nav a {
    padding: 10px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    height: 10px;
    width: 50px;
    border-color: blue;
    background-color: aqua;
}